<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    {{>navbar}}
    <div class="header">
        <h2>Registeration Form</h2>
    </div>
    <div class="form">
        <form action="/" method="post">
            <input type="text" name="fname" id="fname" placeholder="First Name" value="" >
            <input type="text" id="lname" name="lname" placeholder="Last Name" value="">
            <br>
            <br>
            <input type="email" id="gmail" name="gmail" value="" placeholder="Email" >
            <input type="radio" id="male" name="gender" value="Male">
            <label for="Male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" >
            <label for="Female">Female</label>
            <br>
            <br>
            <input type="number" id="phoneno" name="phoneno" value="" placeholder="Phone No.">
            <input type="number" id="age" name="age" value="" placeholder="age" >
            <br>
            <br>
            <input type="password" id="password" name="password" placeholder="Password" value="">
            <input type="password" id="Cpassword" name="Cpassword" placeholder="Confirm Password" value="" >
            <br>
            <br>
            <button type="submit" id="submit" value="register">Register</button> 
            <br>
            <br>
            <a href="http://localhost:3000/login">login</a> 
        </form>
    </div>
</body>
</html>