<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        div{
            border: 1px solid black;
            text-align: center;
            margin: auto;
            margin-top: 40px;
            padding: 50px;
            width: 200px;
            height: auto;
        }
        h1 {
            text-align: center;
        }
        a{
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <h1>login Form</h1>
    <div>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <br><br>
            <input type="password" name="password" placeholder="password" required>
            <br><br>
            <input type="submit" id="submit" value="submit"> <a href="http://localhost:3000">register</a> 
        </form>
    </div>
</body>
</html>